nav {

	background: white;
	height: 100px;
}
#navImg {
	width:25%;
	height: auto;
}
body {
}

.parkOverview {
display: flex;
padding: 10px;
align-items: center;
}
 
.col-8 {
	background: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: -5px 5px lightslategrey;
}

.parkImg {
	border-radius: 10px;
}